:root {
  --primary-font: 'Raleway', sans-serif;
  --text-hover-focus-color: #404BBF;
}

.list {
    list-style: none;
}


body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/*--------Logo--------*/


.logo {
    font-family: var(--primary-font);
    color: #2E2F42;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-decoration:none;
}
.site-logo {
    color: #4D5AE5;
    
}

/*--------NAV--------*/

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;
text-decoration: none;

}

/*-----HOVER-FOCUS------*/

.nav-link:hover,
.nav-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.button-hero:hover,
.button-hero:focus {
 color: var(--text-hover-focus-color);
}
/*---------Contact--------*/

.mail-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
}
.tel-link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

/*-----Hero-----*/

.hero {
 background-color: #2E2F42;
}

.hero-text {

font-style: normal;
font-weight: 700;
font-size: 56px;
line-height:1.11;
color: #FFFFFF;
text-align: center;
}

.button-hero {
font-family: 'Roboto';
background-color: #4D5AE5;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
cursor: pointer;
}

 


